<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Hungry Delete Commands"
            id="com.nflath.hungry.commands.category">
      </category>
      <command
            categoryId="com.nflath.hungry.commands.category"
            defaultHandler="com.nflath.hungry.handlers.HungryDeleteBackward"
            id="com.nflath.hungry.HungryDeleteBackward"
            name="HungryDeleteBackward">
      </command>
      <command
            categoryId="com.nflath.hungry.commands.category"
            defaultHandler="com.nflath.hungry.handlers.HungryDeleteForward"
            id="com.nflath.hungry.HungryDeleteForward"
            name="HungryDeleteForward">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.nflath.hungry.commands.sampleCommand"
            class="com.nflath.hungry.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.nflath.hungry.HungryDeleteForward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+D">
      </key>
      <key
            commandId="com.nflath.hungry.HungryDeleteBackward"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Backspace">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Hungry Delete"
               mnemonic="D"
               id="com.nflath.hungry.menus.sampleMenu">
            <command
                  commandId="com.nflath.hungry.HungryDeleteForward"
                  id="com.nflath.hungry.menus.HungryDeleteForward"
                  label="Hungry Delete Forward"
                  mnemonic="F">
            </command>
            <command
                  commandId="com.nflath.hungry.HungryDeleteBackward"
                  id="com.nflath.hungry.menus.HungryDeleteBackward"
                  label="Hungry Delete Backward"
                  mnemonic="B">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
